{% verbatim %}
<!-- PATIENT SECTION BEGIN-->
<div role="tabpanel" class="tab-pane fade in active" id="patient-profile">

    <h4>PATIENT {{ patientProfile.full_name }}</h4>
    <hr>

    <form ng-controller="patientProfileCtrl" id="parent-form" class="form-horizontal" role="form"><br>

        {% endverbatim %}
        <input type="hidden" id="patient_id" value="{{ patient_id }}">
        {% verbatim %}

        <div class="form-group">
            <label for="full_name" class="col-sm-2 control-label">Full Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="patientProfile.full_name">
            </div>
        </div>

        <div class="form-group">
            <label for="id_number" class="col-sm-2 control-label">ID Number</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="patientProfile.id_number">
            </div>
        </div>

        <div class="form-group">
            <label for="date_of_birth" class="col-sm-2 control-label">Date of Birth</label>
            <div class="col-sm-6">
                <input type="date" class="form-control" ng-model="patientProfile.date_of_birth">
            </div>
        </div>

        <div class="form-group">
            <label for="sex" class="col-sm-2 control-label">Sex</label>
            <div class="col-sm-6">
                <select class="form-control" ng-model="patientProfile.sex">
                    <option value="">{{ hint.sex }}</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </div>
        </div>


        <div class="form-group">
            <label for="address" class="col-sm-2 control-label">Address</label>
            <div class="col-sm-6">
                <textarea class="form-control" rows="3" ng-model="patientProfile.address"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="postcode" class="col-sm-2 control-label">Postcode</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="patientProfile.postcode">
            </div>
        </div>

        <div class="form-group">
            <label for="town" class="col-sm-2 control-label">Town</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="patientProfile.town">
            </div>
        </div>

        <div class="form-group">
            <label for="state" class="col-sm-2 control-label">State</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="patientProfile.state">
            </div>
        </div>

        <div class="form-group">
            <label for="country" class="col-sm-2 control-label">Country</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="patientProfile.country">
            </div>
        </div>

        <br>
        <div class="modal-footer">
            <!--button type="button" class="btn btn-primary">Submit</button>
            <button data-dismiss="modal" type="button" class="btn btn-danger">Close</button-->
        </div>

    </form>
    <br>

</div><!-- .tab-pane #patient-->
{% endverbatim %}