<div id="body" class="col-md-10">
    <div class="tab-content"><!-- .tab-content -->

        <!-- PATIENT SECTION BEGIN-->
        <div role="tabpanel" class="tab-pane fade in active" id="patient"><!-- .tab-pane #patient -->

            <div id="patient-header" class="row">
                <form class="form-inline" role="form"><!-- id="patient-header" -->
                    <div class="col-md-3">
                        <button id="create-new-patient" data-toggle="modal" data-target="#add-patient-modal" type="button" class="btn btn-block btn-primary">
                        <span class="glyphicon glyphicon-plus"></span> Add New Patient </button>
                    </div>

                    <div class="col-md-6">&nbsp;</div>
                </form></div><!-- id="patient-header"-->
                <!-- end of header -->

                <!-- for promo/index.php tabledata -->
                <br>

                <div>
                    <table id="patient-table" class="table table-bordered table-hover">
                        <thead><tr>
                        <th>ID</th>
                        <th>Patient Name</th>
                        <th>Date of Birth</th>
                        <!--th>Created Date</th>
                        <th>Published Date</th>
                        <th>Status</th>
                        <th>PIC</th-->
                        <th>Action</th>
                        </tr></thead>
                    </table>
                </div>
                <!-- end of tabledata -->

        </div><!-- .tab-pane #patient-->
        <!-- PATIENT SECTION END -->

    </div><!-- .tab-content -->
</div><!-- #body .col-md-10 -->