{% extends 'base/base.html' %}

<!DOCTYPE html>
<html lang="en">

{% block head %}
    {{ block.super }}

    <style>
        #logout.nav-pills > li.active > a {
            background-color:red;
        }
    </style>

{% endblock head %}

{% block body %}
    {% include 'patients/body.html' %}

    {% load static %}

{% endblock body %}


</html>

{% block modals %}
    {{ block.super }}
    {% include 'patients/modal/add-parent.html' %}

    {% load static %}
    <script src="{% static 'js/pacer.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/patientsParentCtrl.js' %}"></script>
    <script src="{% static 'js/patientProfileCtrl.js' %}"></script>
    <script src="{% static 'js/helper.js' %}"></script>

{% endblock modals %}
