<!-- PATIENT SECTION BEGIN-->
<div role="tabpanel" class="tab-pane fade" id="parents"><!-- .tab-pane #patient -->

    <div id="patient-header" class="row">
        <form class="form-inline" role="form"><!-- id="patient-header" -->
            <div class="col-md-3">
                <button id="create-new-patient" data-toggle="modal" data-target="#add-patient-modal" type="button" class="btn btn-block btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Parents/Guardian </button>
            </div>

            <div class="col-md-6">&nbsp;</div>
        </form></div><!-- id="patient-header"-->
        <!-- end of header -->

        <!-- for promo/index.php tabledata -->
        <br>

        <div>
            <table id="patient-table" class="table table-bordered table-hover display" width="100%" cellspacing="0">
            </table>
        </div>
        <!-- end of tabledata -->

</div><!-- .tab-pane #patient-->
<!-- PATIENT SECTION END -->

