<div class="col-md-2"><!-- nav begin -->

    <ul id="navigation" class="nav nav-pills nav-stacked" role="tablist">
        <li role="presentation" class="active"><a role="tab" data-toggle="tab" href="#patient-profile">Demographic</a></li>
        <li role="presentation"><a role="tab" data-toggle="tab" href="#diagnostics">Past Medical/Surgical History</a></li>
        <li role="presentation"><a role="tab" data-toggle="tab" href="#medication-record">Medication Record</a></li>
        <li role="presentation"><a role="tab" data-toggle="tab" href="#allergies">Allergies</a></li>
        <li role="presentation"><a role="tab" data-toggle="tab" href="#lab-and-pathology">Lab & Pathology Result</a></li>
        <li role="presentation"><a role="tab" data-toggle="tab" href="#imaging-studies">Imaging Studies</a></li>
        <li role="presentation"><a role="tab" data-toggle="tab" href="#referral-and-consent">Referral & Consent</a></li>
        <li role="presentation"><a role="tab" data-toggle="tab" href="#appointment">Appointment</a></li>
        <li role="presentation"><a role="tab" data-toggle="tab" href="#lifestyle">Lifestyle</a></li>

        <li role="presentation"><a role="tab" data-toggle="tab" href="#parents">Parents/Guardian</a></li>
    </ul>
    <br>

    <ul id="logout" class="nav nav-pills nav-stacked">
        <li class="active"><a href="javascript:closeTab()">Exit</a></li>
    </ul>

</div>