<div class="col-md-2"><!-- nav begin -->

    {% block navigation %}
        <ul id="navigation" class="nav nav-pills nav-stacked" role="tablist">
            <li role="presentation" class="active"><a role="tab" data-toggle="tab" href="#patient">Patient</a></li>
            <li role="presentation"><a role="tab" data-toggle="tab" href="#parents">Parents</a></li>
            <!--li role="presentation"><a role="tab" data-toggle="tab" href="#research">Research</a></li>
            <li role="presentation"><a role="tab" data-toggle="tab" href="##submission">Submission</a></li-->
        </ul>
        <br>
    {% endblock navigation %}

    <ul id="logout" class="nav nav-pills nav-stacked">
    <li class="active"><a href="/logout">Logout</a></li>
    </ul>

</div>