{% verbatim %}
<!-- MERCHANT CREATE MERCHANT MODAL START -->
<div ng-controller="patientsParentCtrl" id="add-parent-modal" class="modal fade" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        <div class="modal-header"><!-- class="modal-header" for "#merchant-create-merchant-modal" -->
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">Add Parents/Guardian</h4>
        </div><!-- class="modal-header" for "#merchant-create-merchant-modal" -->

        <div class="modal-body">
            <form id="parent-form" class="form-horizontal" role="form"><br><!-- "#merchant-merchant-details-form" -->

                {% endverbatim %}
                <input type="hidden" id="patient_id" value="{{ patient_id }}">
                {% verbatim %}

                <div class="form-group">
                    <label for="full_name" class="col-sm-2 control-label">Full Name</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="parentForm.full_name" class="form-control"
                               placeholder="{{ hint.full_name }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_number" class="col-sm-2 control-label">ID Number</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="parentForm.id_number" class="form-control"
                               placeholder="{{ hint.id_number }}">
                    </div>
                </div>

                <!--div class="form-group">
                    <label for="sex" class="col-sm-2 control-label">Sex</label>
                    <div class="col-sm-6">
                        <select class="form-control" ng-model="patientForm.sex">
                            <option value="">{{ hint.sex }}</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                    </div>
                </div-->

                <div class="form-group">
                    <label for="contact_number" class="col-sm-2 control-label">Contact Number</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="parentForm.contact_number" class="form-control"
                               placeholder="{{ hint.contact_number }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-6">
                        <input type="email" ng-model="parentForm.email" class="form-control" placeholder="{{ hint.email }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="address" class="col-sm-2 control-label">Address</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" rows="3" ng-model="parentForm.address"
                                  placeholder="{{ hint.address }}"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="postcode" class="col-sm-2 control-label">Postcode</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="parentForm.postcode" class="form-control"
                               placeholder="{{ hint.postcode }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="town" class="col-sm-2 control-label">Town</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="parentForm.town" class="form-control"
                               placeholder="{{ hint.town }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="state" class="col-sm-2 control-label">State</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="parentForm.state" class="form-control"
                               placeholder="{{ hint.state }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="country" class="col-sm-2 control-label">Country</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="parentForm.country" class="form-control"
                               placeholder="{{ hint.country }}">
                    </div>
                </div>

                <div class="modal-footer">
                    <!--button id="add-patient-submit" type="button" class="btn btn-primary">Submit</button-->
                    <button ng-click="parentFormSubmit()" type="button" class="btn btn-primary">Submit</button>
                    <button data-dismiss="modal" type="button" class="btn btn-danger">Close</button>
                </div><!-- .modal-footer -->

            </form><!-- .form-horizontal #merchant-preview -->
        </div><!-- .modal-body -->

        </div><!-- .modal-content -->
    </div><!-- .modal-dialog .modal-lg -->
</div><!-- .modal fade #merchant-create-merchant-modal -->
<!-- MERCHANT CREATE MERCHANT MODAL END -->
{% endverbatim %}