{% load static %}
<script src="{% static 'js/pacer.js' %}"></script>
<script src="{% static 'js/patients.js' %}"></script>

<body ng-app="pacerApp">
    <div class="container">

        <!-- for header -->
        {% include 'header.html' %}
        <!-- end header -->

        <!-- for body -->
        <div class="row" id="top">

            <!-- for nav -->
            {% include 'nav.html' %}
            <!-- end nav -->

            <!-- for main panel -->
            {% include 'patients/index.html' %}
            <!-- end main panel -->

        </div><!-- .row -->
        <!-- end body -->

    </div><!-- .container -->

<script src="{% static 'js/helper.js' %}"></script>
</body>

